<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Monkey King</title>
</head>

<body>
  <h1>Mad Libs</h1>
  <div>
    <h2>The Monkey King</h2>
    King @Model.KingName was the ruler of the @Model.NatureLocation for as long as anyone could remember. He was an @Model.Adjective1 and @Model.Adjective2 ruler. He used his @Model.WeaponAdjective @Model.Weapon to inflict terror on his subjects. The animals were too afraid to rise up against King @Model.KingName and his @Model.WeaponAdjective @Model.Weapon. One day, there was one @Model.Animal that had the courage to stand up against King @Model.KingName. That @Model.Animal's name was @Model.AnimalHeroName. @Model.AnimalHeroName was respected amongst his fellow @Model.Animal. In order to fight against King @Model.KingName and his @Model.WeaponAdjective @Model.Weapon, @Model.AnimalHeroName needed a weapon of his own. The villagers told @Model.AnimalHeroName about a legendary @Model.HeroWeapon. It was said that this legendary @Model.HeroWeapon would appear when the world needed its power to rectify evil.
  </div>
</body>

</html>